doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
  // Styles will be loaded by webpack
  link(rel='shortcut icon' href='assets/buku_name_icon_48.png')
  meta(name='description' content='Mini to English dictionary')
  title buku-name: Mini dictionary
#main-wrapper
  header
    h1 buku-name
    p.subtitle Mini-English Dictionary
  main
    #search-box
      input(
        type='text'
        id='search'
        autofocus='true'
        placeholder='search'
        autocorrect='off'
        autocapitalize='off'
        spellcheck='false'
      )
    #options
      .option
        input(
          type='checkbox'
          id='exact-match'
          name='exact-match'
        )
        label(for='exact-match') exact match
    .dictionary-words
      each term in dictionary
        .word
          p(
            id=term.word
            class='word-container'
          ) #{term.word}: #{term.meaning}
  footer
    p.keyboard-shortcuts Keyboard shortcuts
    dl#shortcuts
      div
        dt f
        dd Focus search box
      div
        dt &lt;
        dd Clear search
      div
        dt .
        dd Toggle exact match
    .credits
      ul
        li
          a(target='_blank' rel="noopener" href='https://jprogr.github.io/') By jProgr
        li
          a(target='_blank' rel="noopener" href='https://github.com/jProgr/buku-name/') v 1.3.8
        li
          a(target='_blank' rel="noopener" href='https://minilanguage.com/') Mini language by S.C. Gruget
  // JavaScript will be loaded by webpack
